<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969303122934-o5mcl6oe9kfpu0jllg7m0aefpomk1tgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969303122934-o5mcl6oe9kfpu0jllg7m0aefpomk1tgk</string>
	<key>API_KEY</key>
	<string>AIzaSyAJLFGRQ8WG_upU-pCIy2-K7F08sheLBxM</string>
	<key>GCM_SENDER_ID</key>
	<string>969303122934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.ronaldocms.textfire</string>
	<key>PROJECT_ID</key>
	<string>textfire-221bf</string>
	<key>STORAGE_BUCKET</key>
	<string>textfire-221bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969303122934:ios:80374c3d0006c0b165ddd7</string>
</dict>
</plist>